/* General function*/

@import "../../../content/functions.less";

/* ------- side-menu -------*/

.side-menu-bar-if {
    background:white;
}

.side-menu-bar-if.ng-enter, .side-menu-bar-if.ng-leave {
    /*-webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;*/
    /*transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;*/
}

.side-menu-bar-if.ng-enter,
.side-menu-bar-if.ng-leave.ng-leave-active {
    opacity:0;
}

.side-menu-bar-if.ng-leave,
.side-menu-bar-if.ng-enter.ng-enter-active {
    opacity:1;
}

.side-menu-bar{
    float: left;
    .height-calc(0px);
    background: #232323;
}

.side-menu-bar-space{
    .width-calc(0px);
    height: 70px;
}

.side-menu-bar-space .side-menu-bar-button{
    float: right!important;
}

.side-menu-bar-button{
    height: 70px;
    width: 70px;
    cursor: pointer;
}

.side-menu-bar-button:hover {
    background: #3c9ccd;
}

.side-menu-bar-space-expand{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: text-top;
    background-image: url(Images/expand.png);
    background-repeat: no-repeat;
    background-size: 20px;
    margin: 25px;
}

.side-menu-bar-label-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: text-top;
    background-image: url(Images/expand.png);
    background-repeat: no-repeat;
    background-size: 20px;
    float: left;
    margin-left: 20px;
    margin-top: 2px;
}

.side-menu-bar-space-collapse{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: text-top;
    background-image: url(Images/collapse.png);
    background-repeat: no-repeat;
    background-size: 20px;
    margin: 25px;
}

.side-menu-bar a {
    color: #999;
    display: block;
    font-weight: 300;
    padding: 2px 50px 2px;
    font-size: 17px;
    transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
    text-decoration: none;
    background: transparent;
    text-align: left;
}

.side-menu-bar label {
    color: #999;
    display: block;
    font-weight: 300;
    padding: 2px 30px 2px;
    font-size: 17px;
    transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
    text-decoration: none;
    background: transparent;
    text-align: left;
    font-weight: bold;
}

.side-menu-bar div:hover>a {
    color: #FFF;
    text-decoration: none;
}

/* tdLoading */

.loading-indicator{
    position: absolute;
    .expand();
    background: lightgrey;
    opacity: 0.7;
}

.progress{
    position: relative;
    top: -webkit-calc(50% - 38px);
    top: -moz-calc(50% - 38px);
    top: calc(50% - 38px);
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 71px;
    width: 71px;
    background: lightgrey;
    opacity: 0.7;
}

.progress-legend{
    position: relative;
    top: -webkit-calc(50% - 38px);
    top: -moz-calc(50% - 38px);
    top: calc(50% - 38px);
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 500px;
    color: black;
    text-align: center;
}

/* require field */

.ng-invalid-required-field{
    float:left;
}

.require-field-required {
    color: red;
    width: 30px;
    padding-left: 12px;
    .height-calc(0);
}

.require-field-text {
    background: white;
    border-radius: 3px;
    padding: 10px;
    box-shadow: inset 0 1px 1px;
    float:left;
    width: 300px;
}

/* type Validator */

.type-validator-text {
    position: absolute;
    left: -webkit-calc(100%);
    left: -moz-calc(100%);
    left: calc(100%);
    margin-top: -23px;
    background: white;
    border-radius: 3px;
    padding: 10px;
    box-shadow: inset 0 1px 1px
}
/* list */

.td-list-container{
    .expand();
    padding-bottom: 30px;
    //overflow-x: auto;
}

.td-list-item-content-template{
    .expand();
    display: inline-block;
}


.td-list-item{
    display: inline-block;
    .width-calc(0px);
}

.td-list-item-content{
    .width-calc(0px);
    float: left;
    background: #fff;
    .boxShadow(0,1px,2px,0, rgba(0,0,0,0.22));
    .radius(6px);
    //padding: 10px;
}

.td-list-scroll-contianer{
    overflow: hidden;
    text-align: center;
}

.td-list-item-selected{
    background: gainsboro;
    border-left: 4px solid;
}

/*td-calendar*/
.td-calendar-selected{
    .width-calc(0px);
    height: 3px;
}

.td-calendar-datepicker {
    font-family: monospace!important;
}

.td-calendar-datepicker .ui-datepicker {
    padding: 0!important;
    /*display: none;*/
}

.td-calendar-datepicker .ui-widget-content {
    border: 0!important;
    background: white!important;
}

.td-calendar-datepicker .ui-widget-header {
    border: 0!important;
    background: white!important;
    color: #000000;
    font-weight: normal!important;
}

.td-calendar-datepicker .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 0!important;
    background: white!important;
    font-weight: normal!important;
    text-align: center;
}
.td-calendar-datepicker .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 0!important;
    background: white!important;
    font-weight: normal!important;
    text-align: center;
}

.td-calendar-datepicker .ui-datepicker table {
    margin: 0!important;
}

.td-calendar-datepicker .ui-corner-all {
    border-radius: 0px!important;
}

.td-calendar-datepicker .ui-datepicker td {
    border: 0;
    padding: 0px!important;
}
.td-calendar-datepicker .ui-datepicker td {
    border: 0;
    padding: 0px!important;
}


/*tdItemExpandableContainer*/

.td-item-expandable-container{
    .expand();
}

.td-item-expandable-container-content{
    .expand();
}

.td-google-map-container{
    .expand();
}

/* td icon */

.td-icon-content {
    position: relative;
    text-align: center;
    cursor: pointer;
    .expand();
}

.td-icon-content .td-icon-center{
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.td-icon-content-hover:hover {
    background: #3c9ccd;
}

.td-icon-hotel{
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: text-top;
    background-image: url(Images/register.png);
    background-repeat: no-repeat;
    background-size: 30px;
    margin: 2px;
}

.td-icon-edit{
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: text-top;
    background-image: url(Images/edit.png);
    background-repeat: no-repeat;
    background-size: 40px;
    margin: 25%;
}

.td-icon-map{
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: text-top;
    background-image: url(Images/map.png);
    background-repeat: no-repeat;
    background-size: 40px;
    margin: 25%;
}
/* full page */

#fp-nav{
    right: 5px !important;
}

#fp-nav ul li {
    width: 30px !important;
    height: 30px !important;
}

/* toolbar */

/*toolbar*/

.toolbar{
    background: #0099FF;
    margin-bottom: 18px;
}

.toolbar-buttons{
    height: 50px;
}

.toolbar-buttons-form
{
    width: 250px;
    height: 50px;
    float: left;
}

.toolbar-buttons-form-button{
    width: 100px;
    float: left;
    text-align: center;
    position: relative;
    top: 14px;
    font-size: larger;
    font-family: monospace;
    color: white;
    cursor: pointer;
}

.toolbar-buttons-form-button:hover {
    color:grey;
}

.toolbar-buttons-form-button-disabled {
    color: lightgray;
    cursor: default!important;
}

.toolbar-buttons-form-button-disabled i{
    cursor: default!important;
}

.toolbar-buttons-form-button-disabled:hover {
    color: lightgray!important;
    cursor: default!important;
}

.toolbar-buttons-action{
    .width-calc(250px);
    height: 50px;
    float: left;

}

.toolbar-buttons-actions-forms{
    float: left;
}

.toolbar-buttons-action-button-button{
    display: inline-block;
    cursor: pointer;
}

.toolbar-buttons-action-button {
    width: 50px;
    height: 50px;
    float: right;
}

.toolbar-buttons-action-button:hover {
    background: #dcdcdc;
}

.toolbar-form-container{
    background-color: #ffffff;
}

/* masonary list */

.td-masonary-list {

    .td-list {
        float: left;
    }
    .td-list-container{
        margin: 5px;
        //overflow-x: hidden!important;
    }
}

/* td google map*/

.td-google-map-context-menu{
  position: absolute;
  display: block;
  width: 250px;
  background: white;
  .radius(3px);
  box-shadow: currentColor 0 1px 1px;

  div {
    height: 20px;
  };

  a {
    cursor: pointer;
  };
}

/* td-form */

.td-form {
    overflow-y: auto;
    .expand();
}

/* file upload */

.td-file-upload {
    .progress{
        height: 30px !important;
        width: 100% !important;
        margin-bottom: 20px;
    }
}