<div class="requests-default-preview-section">
    <img ng-if="!_showMap" ng-src="{{_selected.mediumSrc || defaultImg.mediumSrc}}"/>
    <div class="td-google-map" ng-show="_showMap" ng-controller="defaultRequestMapController"></div>
</div>
<div class="requests-images-section">
    <div class="requests-images-section-scrollable" style="width:{{(images.length * 105) + 105}}px">
        <div class="requests-images-section-scrollable-map" ng-click="_showMap = true">
            <span class="fa fa-map-marker fa-4x" ></span>
        </div>
        <img ng-repeat="img in images" ng-click="$parent._selected = img; $parent._showMap = false;" ng-src="{{img.smallSrc}}">
    </div>
</div>
<div class="requests-info-section">
    <div class="requests-info-section-title">
        <span vw-clickable="request.moreInfo">{{title | uppercase}}</span>
    </div>
    <div class="requests-info-section-user">
        <div class="vw-user-profile" ng-model="createdBy"></div>
    </div>
    <div class="requests-info-section-date">
        <div class="requests-info-section-row row-expanded" ng-if="anyDay">
            <div class="requests-info-section-row-title">
                <label>Any Day</label>
            </div>
            <div class="requests-info-section-row-date">
                {{comment}}. Just Book!!!!
            </div>
        </div>
        <div class="requests-info-section-row row-expanded" ng-if="weekends">
            <div class="requests-info-section-row-title">
                <label>On Weekends</label>
            </div>
            <div class="requests-info-section-row-date">
                {{comment}}. Just Book!!!!
            </div>
        </div>
        <div class="requests-info-section-row row-expanded" ng-if="weekdays">
            <div class="requests-info-section-row-title">
                <label>Any Weekends</label>
            </div>
            <div class="requests-info-section-row-date">
                {{comment}}. Just Book!!!!
            </div>
        </div>
        <div class="requests-info-section-row" ng-class="startDate && endDate ? 'row-devided' : 'row-expanded'" ng-if="startDate">
            <div class="requests-info-section-row-title">
                <label>Start Date</label>
            </div>
            <div class="requests-info-section-row-date">
                {{startDate | date : 'shortDate'}}
            </div>
        </div>
        <div class="requests-info-section-row" ng-class="startDate && endDate ? 'row-devided' : 'row-expanded'" ng-if="endDate">
            <div class="requests-info-section-row-title">
                <label>End Date</label>
            </div>
            <div class="requests-info-section-row-date">
                {{endDate | date : 'shortDate'}}
            </div>
        </div>
    </div>
    <div class="requests-info-section-type">
        <label ng-bind="type.name | uppercase"></label>
    </div>
    <div class="requests-info-section-text">
        <p>{{description}}</p>
    </div>
    <div class="requests-info-section-buttons">
        <div class="button" vw-clickable="request.book">REQUEST BOOK</div>
    </div>
</div>