/* General function*/

.width-calc(@difference){
  width: -webkit-calc(~"100% - "@difference);
  width: -moz-calc(~"100% - "@difference);
  width: calc(~"100% - "@difference);
}

.auto-width-calc(@difference){
  max-width: -webkit-calc(~"100% - "@difference);
  max-width: -moz-calc(~"100% - "@difference);
  max-width: calc(~"100% - "@difference);
  width: auto;
  height: auto;
  display: block;
}

.auto-height-calc(@difference){
  max-height: -webkit-calc(~"100% - "@difference);
  max-height: -moz-calc(~"100% - "@difference);
  max-height: calc(~"100% - "@difference);
  width: auto;
  height: auto;
  display: block;
}

.height-calc(@difference){
  height: -webkit-calc(~"100% - "@difference);
  height: -moz-calc(~"100% - "@difference);
  height: calc(~"100% - "@difference);
}

.expand(){
  .height-calc(0px);
  .width-calc(0px)
}

.centerBox(@height){
  position: relative;
  top: -webkit-calc(~"50% - "@height);
  top: -moz-calc(~"50% - "@height);
  top: calc(~"50% - "@height);
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.boxShadow(@difference,@difference2,@difference3,@difference4,@color){
  -webkit-box-shadow: @difference @difference2 @difference3 @difference4 @color;
  -moz-box-shadow: @difference @difference2 @difference3 @difference4 @color;
  box-shadow: @difference @difference2 @difference3 @difference4 @color;
}

.radius(@value){
  -webkit-border-radius: @value;
  -moz-border-radius: @value;
  border-radius: @value;
}