/* General function*/

@import "functions.less";

/* General Styles */

.grey-icon {
  color: gainsboro;
}

.side-menu-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: text-top;
  float: left;
  margin-left: 18px;
  margin-top: -1px;
}

.left-position {
  float: left;
}

.right-position {
  float: right;
}


html{
  height:100%;
}

body{
  margin: 0!important;
  height: 100%;
  font-family: "Segoe UI",Verdana,Helvetica,Sans-Serif;
  overflow: hidden;
}

/* front */
.front{
  .expand();
  background-color: whitesmoke;
  background-size: 100%;
}

.front-top-bar{
  height: 50px;
  .width-calc(0px);
  background: #232323;
}

.front-top-bar div{
  float: left
}

.front-logo-extra{
  .width-calc(50px);
}

.front-button{
   height: 50px;
   width: 50px;
   cursor: pointer;
  text-align: -webkit-center;
 }

.font-button-menu{
  position:absolute;
  z-index: 9999;
}

.front-button:hover {
  background: #3c9ccd;
}

.front-menu{
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: text-top;
  background-image: url(http://localhost:63342/EcoWebsite/EcoApp/Content/Images/menu-icon.png);
  background-repeat: no-repeat;
  background-size: 30px;
  margin: 7.5px;
}

.front-logo-extra a{
  float: right!important;
}

.front-button label{
  margin-top: 16px;
  margin-left: 5px;
}

.front-register-icon{
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: text-top;
  background-image: url(images/register.png);
  background-repeat: no-repeat;
  background-size: 30px;
  margin: 7.5px;
}

.front-container{
  .expand();
}

.front-container-container{
  .expand();
  overflow-y:hidden;
}

.front-container-text{
  .expand();
}

/* Main */

.main-search{
  height: 300px;
  width: 500px;
  background: rgba(255,255,255,0.6);
  letter-spacing:calc(100% - 150px) ;
  box-shadow: 3px 3px 8px #888888;
  .centerBox(150px);
}

.main-search input{
  height: 30px;
  width: 470px;
  .centerBox(50px);
}

.main-search-search{
  width: 470px;
  height: 30px;
  .centerBox(15px);
}

.main-search-search button{
  .expand();
}

.main-separation {
  height: 50%;
  display: block;

  .main-box {
    margin: 10px;
    border-radius: 10px;
    background: blue;
    .height-calc(20px);
    .width-calc(20px);
    box-shadow: 3px 3px 8px #888888;
  }
}

/* requests */

.requests-list{
  .height-calc(50px);
  .width-calc(0px)
}

/* register */

.register-container {
  .expand();
  background: steelblue;
}

.register-box {
  width: 800px;
  height: 400px;
  .centerBox(200px);
}

.register-box-photo{
  width: 200px;
  height: 200px;
  vertical-align: text-top;
  float: left;
  background: white;
  border-style: solid;
  border-width: 1.5px;
  border-color: grey;
}

.register-box-photo-photo{
  .expand();
  background-image: url(images/photo.png);
  background-repeat: no-repeat;
  background-size: 200px;
}

.register-box-form{
  float: left;
  .height-calc(0px);
  .width-calc(200px)
}

.register-box-form-caption{
  .height-calc(0px);
  width: 200px;
  float: left;
}

.register-box-form-control{
  .height-calc(0px);
  .width-calc(200px);
  float: left;
}

.register-box-label{
  height: 44px;
  text-align: center;
  line-height: 44px;
}

.register-box-label label{
}

.register-box-label-right{
  float: right;
  height: 44px;
  padding: 5px;
}

.register-box-input{
  padding: 5px;
}

/* general */

.row-expanded{
  width: 100%;
}

.row-devided{
  float: left;
  width: 50%;
}

label {
  font-family: "Helvetica Neue","Helvetica","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック",arial,sans-serif;
  color: #211922;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  font-size: 13px;
  line-height: 17px;
  word-wrap: break-word;
}

.button {
  border: 1px solid gainsboro;
  padding: 5px;
  font-family: "Helvetica Neue","Helvetica","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック",arial,sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  line-height: 17px;
  word-wrap: break-word;
  background-color: crimson;
  display: inline-block;
  cursor: pointer;
  .boxShadow(0,1px,2px,0, rgba(0,0,0,0.22));
}

.button:hover{
  background-color: #c12e2a;
}

/* request list item template*/

.requests-default-preview-section{
  .width-calc(0px);

  .td-google-map-container{
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  img {
    .auto-width-calc(0px);
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
}

.requests-images-section{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 85px;
  .width-calc(0px);

  .requests-images-section-scrollable {

    div{
      height:70px;
      width: 105px;
      float: left;
      background-color: #eb9316;

      span {
        .centerBox(28px);
        left: 35px!important;
      }
    }

    .requests-images-section-scrollable-map{
      cursor: pointer;
    }

    img {
      display: block;
      max-height:70px;
      width: auto;
      height: auto;
      float: left;
      cursor:pointer;
    }
  }

}

.requests-info-section{

  .requests-info-section-title{
    height: 40px;
    border-bottom: 1px solid gainsboro;
    text-align: center;
    line-height: 40px;
  }

  .requests-info-section-date{
    height: 80px;

    .row-devided:first-child {
      border-right: 1px solid gainsboro;
    }

    .requests-info-section-row{
      height: 80px;
      border-bottom: 1px solid gainsboro;

      .requests-info-section-row-title{
        height: 40px;
        border-bottom: 1px solid gainsboro;
        text-align: center;
        line-height: 40px;
      }

      .requests-info-section-row-date{
        height: 40px;
        border-bottom: 1px solid gainsboro;
        text-align: center;
        line-height: 40px;
      }
    }


  }

  .requests-info-section-user{
    height: 91px;
    border-bottom: 1px solid gainsboro;

    .vw-user-profile{
      position: relative;
    }
  }

  .requests-info-section-type{
    height: 40px;
    border-bottom: 1px solid gainsboro;
    text-align: center;
    line-height: 40px;
  }

  .requests-info-section-text{
    height: 80px;
    padding: 10px;
    border-bottom: 1px solid gainsboro;
  }

  .requests-info-section-buttons{
    height: 40px;

    div {
      float: right;
      margin-top: 11px;
      margin-bottom: 11px;
      margin-right: 11px;
    }
  }
}

.requests-list {

  .td-masonary-list{
    .td-list{

    }
  }
}

/* edit list */
.edit-request{

  .edit-request-map-container{
    .expand();
  }
}

.request-row {
  height: 180px;
}

