/* General function*/

@import "../../../content/functions.less";

/* vw-clickable */

.vw-clickable-effects{
  cursor: pointer;

}
.vw-clickable-effects:hover{
  color:#c12e2a;
}

/* vw-user-profile */

.vw-user-profile{
  display: inline-block;

  .vw-user-profile-img{
    float: left;
    display: block;
    max-height:70px;
    width: auto;
    height: auto;
    .radius(17px);
    margin: 10px;
    .boxShadow(0,1px,2px,0, rgba(0,0,0,0.22));
    cursor: pointer;
  }

  .vw-user-profile-name{
    float: left;
    text-align: center;
    line-height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
  }

  .vw-user-profile-name:hover{
    color:#c12e2a;
  }
}