<div class="main-separation">
    <div class="main-box">
        <div class="main-box-title">Consumption List</div>
        <!--<div class="td-list" ng-controller="consumptionListController"></div>-->
    </div>
</div>
<div class="main-separation">
    <div class="main-box">
    </div>
</div>

