<div name="loginForm" class="login-container ng-form" ng-controller="loginController">
    <div id="login-form" class="register-box loading">
        <div class="register-box-form">
            <div class="register-box-form-caption">
                <div class="register-box-label" ><label td-i18n>{ E-mail | EMAIL }</label></div>
                <div class="register-box-label" ><label td-i18n>{ Password | PASSWORD }</label></div>
                <div class="register-box-label" ></div>
            </div>
            <div class="register-box-form-control">
                <div class="register-box-input"><input name="email" type="email" ng-model="model.email" class="form-control" td-type-validator="{ these need to have an email format | EMAIL}"
                                                       td-require-field></div>
                <div class="register-box-input"><input name="password" type="password" ng-model="model.password" class="form-control" td-require-field="{ This is required | REQ }"></div>
                <button type="button" ng-click="submit()" ng-disabled="!loginForm.$valid" class="btn btn-info" td-i18n>{ Log-in  | LOGIN }</button>
            </div>
        </div>
    </div>
</div>