<div name="registerForm" class="register-container ng-form" ng-controller="registerController">
    <div id="register-form" class="register-box td-loading">
        <div class="register-box-photo">
            <div class="register-box-photo-photo">

            </div>
        </div>
        <div class="register-box-form">
            <div class="register-box-form-caption">
                <div class="register-box-label" ><label td-i18n>{ E-mail | EMAIL }</label></div>
                <div class="register-box-label" ><label td-i18n>{ Password | PASSWORD }</label></div>
                <div class="register-box-label" ></div>
                <div ng-if="model.extra">
                    <div class="register-box-label"><label td-i18n>{ Name | EMAIL }</label></div>
                    <div class="register-box-label"><label td-i18n>{ Surename | SURENAME}</label></div>
                    <div class="register-box-label"><label td-i18n>{ Birth Date | BIRTH}</label></div>
                    <div class="register-box-label"><label td-i18n>{ Place | PLACE}</label></div>
                </div>
            </div>
            <div class="register-box-form-control">
                <div class="register-box-input"><input name="email" type="email" ng-model="model.email" class="form-control" td-type-validator="{ these need to have an email format | EMAIL}"
                                                       td-require-field></div>
                <div class="register-box-input"><input name="password" type="password" ng-model="model.password" class="form-control" td-require-field="{ This is required | REQ }"></div>
                <div class="register-box-input">
                    <input class="register-box-label-right " type="checkbox" ng-model="model.extra">
                    <label class="register-box-label-right register-box-label" td-i18n>{ More Details ?  | DETAILS }</label>
                </div>
                <div ng-if="model.extra">
                    <div class="register-box-input"><input name="name" type="text" ng-model="model.name" class="form-control"
                                                           td-require-field on="model.extra"></div>
                    <div class="register-box-input"><input name="surename" type="text" ng-model="model.surename" class="form-control"
                                                           td-require-field on="model.extra"></div>
                    <div class="register-box-input"><input name="birth" type="date" ng-model="model.birth" class="form-control"  td-type-validator="{ This is an Invalid Date | BIRTHDATEVALIDATION }"
                                                           td-require-field on="model.extra"></div>
                    <div class="register-box-input"><input name="place" id="placesTypeAhead" type="text" ng-controller="placesController" ng-model="model.place" placeholder="Locations loaded via $http" typeahead="address for address in getLocation($viewValue)" class="form-control"
                                                           td-require-field on="model.extra"></div>
                </div>
                <button type="button" ng-click="submit()" ng-disabled="!registerForm.$valid" class="btn btn-info" td-i18n>{ Regist  | REGIST }</button>
            </div>
        </div>
    </div>
</div>