<div nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
    <div class="container" class="well my-drop-zone" nv-file-over="" uploader="uploader">
        <div class="row">
            <!--labels-->
            <div class="col-md-3">
                <label ng-if="fileOptions.ui.showMultiple" td-i18n>{ Select files | SELECTFILES | fileOptions.ui.selectFilesText }</label>
                <label ng-if="fileOptions.ui.showMultiple" td-i18n>{ Multiple | MULTIPLE | fileOptions.ui.multipleText }</label>
                <input ng-if="fileOptions.ui.showMultiple" type="file" nv-file-select="" uploader="uploader" multiple/><br/>
                <label ng-if="fileOptions.ui.showSingle" td-i18n>{ Select file | SELECTFILE | fileOptions.ui.selectFileText }</label>
                <label ng-if="fileOptions.ui.showSingle" td-i18n>{ Single | SINGLE | fileOptions.ui.selectFileText }</label>
                <input ng-if="fileOptions.ui.showSingle" type="file" nv-file-select="" uploader="uploader" /><br/>
            </div>
            <!--single file uploader-->
            <div class="col-md-9" style="margin-bottom: 40px" ng-repeat="item in uploader.queue" ng-show="uploader.queue.length === 1 && !fileOptions.ui.showQueue">
                <td>
                    <strong>{{ item.file.name }}</strong>
                    <div ng-show="fileOptions.ui.showThumb" td-thumb="{ file: item._file, height: 100 }"></div>
                </td>
                <td nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
            </div>
            <!--multi file uploader-->
            <div class="col-md-9" style="margin-bottom: 40px" ng-show="uploader.queue.length > 0 && fileOptions.ui.showQueue">
                <h3 td-i18n>{ Upload queue | UPLOADQUEUE | fileOptions.ui.uploadQueueText  }</h3>
                <p><label td-i18n>{ Queue length: | QUEUELENGTH | fileOptions.ui.queueLengthText  }</label> {{ uploader.queue.length }}</p>
                <table class="table">
                    <thead>
                    <tr>
                        <th td-i18n width="50%">Name</th>
                        <th td-i18n>{ Size | SIZE | fileOptions.ui.sizeText }</th>
                        <th td-i18n>{ Progress | PROGRESS | fileOptions.ui.progressText }</th>
                        <th td-i18n>{ Status | STATUS | fileOptions.ui.statusText }</th>
                        <th td-i18n>{ Actions | ACTIONS | fileOptions.ui.actionsText }</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in uploader.queue">
                        <td>
                            <strong>{{ item.file.name }}</strong>
                            <div ng-show="fileOptions.ui.showThumb" td-thumb="{ file: item._file, height: 100 }"></div>
                        </td>
                        <td nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                        <td>
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                        <td nowrap>
                            <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                <span class="glyphicon glyphicon-upload"></span> <label td-i18n>{ Upload | UPLOADED | fileOptions.ui.uploadedText  }</label>
                            </button>
                            <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span> <label td-i18n>{ Cancel | CANCEL | fileOptions.ui.cancelText  }</label>
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span> <label td-i18n>{ Remove | REMOVE | fileOptions.ui.removeText  }</label>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <div>
                        <label td-i18n>{ Queue progress: | QUEUEPROGRESS | fileOptions.ui.queueProgressText  }</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                    </div>
                    <button ng-show="fileOptions.ui.showUpdateAll" type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                        <span class="glyphicon glyphicon-upload"></span> <label td-i18n>{ Upload all | UPLOADALL | fileOptions.ui.uploadAllText  }</label>
                    </button>
                    <button ng-show="fileOptions.ui.showCancelAll" type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span> <label td-i18n>{ Cancel all | CANCELALL | fileOptions.ui.cancelAllText  }</label>
                    </button>
                    <button ng-show="fileOptions.ui.showRemoveAll" type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                        <span class="glyphicon glyphicon-trash"></span> <label td-i18n>{ Remove all | REMOVEALL | fileOptions.ui.removeAllText  }</label>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>