
<div name="profile" class="ng-form">
    <div>
        <div>
            <img style="width: 300px; height: auto;"ng-src="{{model.profileSrc}}">
            <div class="td-file-upload" ng-controller="singleFileUploaderController"></div>
        </div>
        <div>
            #{{ model.username | uppercase }}
        </div>
    </div>
    <div class="request-row">
        <div>
            <label td-i18n>{ Name | NAME }</label>
        </div>
        <div>
            <input name="name" ng-model="model.name" td-require-field="{ This is required | REQ }"/>
        </div>
    </div>
    <div class="request-row">
        <div>
            <label td-i18n>{ Surename | SURENAME }</label>
        </div>
        <div>
            <input name="surename" ng-model="model.surename" td-require-field="{ This is required | REQ }"/>
        </div>
    </div>
    <div class="request-row">
        <div>
            <label td-i18n>{ E-Mail | EMAIL }</label>
        </div>
        <div>
            <label ng-bind="model.email"></label>
        </div>
    </div>
    <div class="request-row">
        <div>
            DOB
        </div>
        <div>
            <div name="dob" class="td-date-picker" ng-model="model.dob" td-require-field="{ This is required | REQ }"></div>
        </div>
    </div>
    <div class="request-row">
        <div>
            <label td-i18n>{ Language | LANGUAGE }</label>
        </div>
        <div>
            <div name="lang" class="td-multi-select" ng-controller="languajesController" ng-model="model.lang" td-getter-function="languajesSearch" td-value-field="name" td-data-field="name" td-require-field="{ This is required | REQ }"></div>
        </div>
    </div>
    <div class="request-row">
        <div>
            <label td-i18n>{ Where are you from ? | FROM }</label>
        </div>
        <div>
            <div name="place" class="td-autocomplete" ng-controller="placesController" ng-model="model.from" td-getter-function="getLocation" td-value-field="formatted_address" td-data-field="formatted_address" td-require-field="{ This is required | REQ }"></div>
        </div>
    </div>
</div>
