<div name="request" class="edit-request ng-form">
    <div style="height:500px;" class="edit-request-map-container">
        <div class="td-google-map" ng-controller="requestMapController"></div>
    </div>
    <div class="request-row">
        <div class="vw-user-profile" ng-model="model.profile"></div>
    </div>
    <div class="request-row">
        <div>
            <label td-i18n>{ Where ? | WHERE }</label>
        </div>
        <div>
            <div name="place" class="td-autocomplete" ng-controller="placesController" ng-model="model.place" td-getter-function="getLocation" td-value-field="formatted_address" td-data-field="formatted_address" td-require-field="{ This is required | REQ }"></div>
        </div>
    </div>
    <div class="request-row">
        <div>
            <label td-i18n>{ Route ? | ROUTE }</label>
        </div>
        <div>
            <div name="googleMapCenter" class="td-multi-select" ng-disabled="!model.place.place_id" td-clear-command="clear-routes-multiselect" td-on-update-command="routes-updated" td-add-item-command="add-multi-routes" ng-controller="placesController" ng-model="model.route" td-getter-function="getLocation" td-value-field="formatted_address" td-data-field="formatted_address"></div>
        </div>
    </div>
    <div class="request-row">
        <div>
            <label td-i18n>{ Title | TITLE }</label>
        </div>
        <div>
            <input name="title" ng-model="model.title" td-require-field="{ This is required | REQ }"/>
        </div>
    </div>
    <div class="request-row">
        <div>
            <label td-i18n>{ What are you publishing ? | WHATAREYOUPUBLISHING }</label>
        </div>
        <div>
            <input type="radio" name="typeRequest" value="REQUEST" ng-model="model.type"/><label td-i18n>{ Request | REQUEST }</label>
            <input type="radio" name="typeTour" value="TOUR" ng-model="model.type"/><label td-i18n>{ Tour| TOUR }</label>
        </div>
    </div>
    <div class="request-row">
        <div>
            <label td-i18n>{ Language | LANGUAGE }</label>
        </div>
        <div>
            <div name="lang" class="td-multi-select" ng-controller="languajesController" ng-model="model.lang" td-getter-function="languajesSearch" td-value-field="name" td-data-field="name" td-require-field="{ This is required | REQ }"></div>
        </div>
    </div>
    <div style="height:500px;">
        <div>
            <label td-i18n>{ Images | IMAGES }</label>
        </div>
        <div>
            <div class="td-file-upload"></div>
        </div>
    </div>
    <div class="request-row">
        <div>
            <label td-i18n>{ When ? | WHEN }</label>
        </div>
        <div>
            <div name="whenDate" class="td-date-picker" td-min-date="model._today" ng-model="model.when" td-require-field="{ This is required | REQ }"></div>
        </div>
        <div ng-show="model.when">
            <timepicker name="whenTime" ng-model="model.when" hour-step="1" minute-step="15" show-meridian="true"></timepicker>
        </div>
    </div>
    <div class="request-row">
        <div>
            <label td-i18n>{ Description | DESCRIPTION }</label>
        </div>
        <div>
            <textarea name="description" rows="4" cols="50" ng-model="model.description" td-require-field></textarea>
        </div>
    </div>
    <button type="button" ng-click="submit()" ng-disabled="!registerForm.$valid" class="btn btn-info" td-i18n>{ Create  | CREATE }</button>
</div>